[Unit]
Description=Status Project E-Link Display
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/StatusProject
Restart=on-abort
 
[Install]
WantedBy=multi-user.target

